@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.row:nth-child(2n) {
  background: color.$gray-50;
}

.cell {
  padding: space.$s4 space.$s6;
  color: color.$gray-500;
  font: font.$text-sm-regular;
}

.issueCell {
  composes: cell;
  display: flex;
  align-items: center;
}

.languageIcon {
  width: space.$s10;
  margin-right: space.$s3;
}

.errorTypeAndMessage {
  color: color.$gray-900;
}

.errorType {
  font: font.$text-sm-medium;
}

.card {
  background: white;
  border: 1px solid color.$gray-200;
  box-shadow: 0 2px 4px rgb(16 24 40 / 10%);
  border-radius: space.$s2;
  margin-bottom: space.$s4;
  padding: space.$s6;

  @media (width <= 350px) {
    padding-bottom: space.$s4;
  }

  .cardHeader {
    display: flex;
    align-items: center;
    margin-bottom: space.$s6;

    @media (width <= 350px) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: space.$s2;

      img {
        margin-bottom: 15px;
      }
    }
  }

  .cardDetails {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .cardDetail {
      margin: space.$s3;

      .cardDetailHeader {
        font: font.$text-sm-medium;
        color: color.$gray-500;
        margin-bottom: space.$s2;
      }
    }
  }
}

@media (width <= 630px) {
  .row {
    display: none;
  }
}
