@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.searchInput {
  display: flex;
  flex-direction: column;
}

.label {
  font: font.$text-sm-medium;
  color: color.$gray-500;

  @media (width <= 570px) {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: space.$s2;
  min-width: 17.5rem;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;

  &::placeholder {
    color: #999;
  }
}

.focused {
  border-color: #007bff;
}

.filled {
  border-color: #28a745;
}

.disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.icon {
  position: absolute;
  right: 10px;
  top: 30px;
  pointer-events: none;
  transform: scaleX(-1);
  display: none;

  @media (width <= 570px) {
    top: 10px;
  }
}

@media (width <= 720px) {
  .searchInput {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
