@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.selectWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font: font.$text-sm-medium;
  color: color.$gray-500;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid color.$gray-300;
  border-radius: space.$s2;
  width: 150px;
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font: font.$text-md-medium;
  color: color.$gray-700;

  &.empty {
    background: white;
    color: color.$gray-500;
  }

  &.filled {
    background: white;
    color: color.$gray-700;
  }

  &.focused,
  &.open {
    border-color: color.$primary-600;
    background: color.$primary-50;
  }

  &.disabled {
    background: color.$gray-100;
    border: 1px solid color.$gray-200;
    color: color.$gray-300;
    cursor: not-allowed;
  }
}

.selectedValue {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid color.$gray-700;
  transition: transform 0.3s;

  &.up {
    transform: rotate(180deg);
  }
}

.options {
  position: absolute;
  background: white;
  border: 1px solid color.$gray-300;
  border-radius: space.$s2;
  margin: 0;
  padding: 0;
  width: 180px;
  margin-top: 60px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  z-index: 1;
  max-height: 200px;
  list-style: none;
  overflow-y: auto;
}

.option {
  padding: 10px 16px;
  cursor: pointer;
  font: font.$text-md-medium;
  color: color.$gray-700;

  &:hover {
    background: color.$primary-50;
  }
}
